.tab-ak{margin:0 auto!important;width:45%;z-index:2;top:0;position:relative}

.resp-tab-item{cursor:pointer;font-size:18px;padding:15px 25px;text-transform:capitalize;font-size:16px;cursor:pointer;background-color:#3b3b3b;color:#F9F9F9 !important;}
.resp-tab-active{background-color:#F9F9F9;color:#3b3b3b !important;}
p, ul.resp-tabs-list{margin:0;padding:0}
.resp-tabs-list li{font-weight:700;display:inline-block;margin:0;list-style:none;cursor:pointer;LETTER-SPACING:1PX;float:left;border-top-right-radius:10px;border-top-left-radius:10px;margin:1px 1px 0 1px;}
.resp-tabs-container{border-top:solid 1px #3A3B3B;border-bottom:solid 1px #3A3B3B;background:#fff;top:0;position:relative;z-index:1;padding:0;clear:left}
h2.resp-accordion{cursor:pointer;display:none}
.resp-tab-content{display:none;padding:10px;background-color:#F9F9F9;}

.resp-accordion-active, .resp-content-active, .resp-easy-accordion h2.resp-accordion, .resp-tab-content-active{display:block}
.resp-tab-active{border:1px solid #3A3B3B;margin-bottom:-1px!important;border-bottom:none;background:#F9F9F9 !important;}
h2.resp-accordion{font-size:13px;border:1px solid #c1c1c1;border-top:0 solid #c1c1c1;margin:0;padding:10px 15px}
h2.resp-tab-active{border-bottom:0 solid #c1c1c1!important;margin-bottom:0!important;padding:10px 15px!important}
h2.resp-tab-title:last-child{border-bottom:12px solid #c1c1c1!important;background:#00f}
.resp-vtabs ul.resp-tabs-list{float:left;width:30%}
.resp-vtabs .resp-tabs-list li{display:block;padding:15px!important;margin:0;cursor:pointer;float:none}
.resp-vtabs .resp-tabs-container{padding:0;background-color:#fff;border:1px solid #c1c1c1;float:left;width:68%;min-height:250px;border-radius:4px;clear:none}
.resp-vtabs .resp-tab-content{border:none}
.resp-vtabs li.resp-tab-active{border:1px solid #c1c1c1;border-right:none;background-color:#fff;position:relative;z-index:1;margin-right:-1px!important;padding:14px 15px 15px 14px!important}
h2.resp-tab-active{background:#DBDBDB!important}
.resp-easy-accordion .resp-tab-content{border:1px solid #c1c1c1}
.resp-easy-accordion .resp-tab-content:last-child{border-bottom:1px solid #c1c1c1!important}
.resp-jfit{width:100%;margin:0}
h2.resp-accordion:first-child{border-top:1px solid #c1c1c1!important}

.resp-tab-content img{max-height: 212px;}

@media only screen and (max-width:768px){ul.resp-tabs-list{display:none}
h2.resp-accordion{display:block}
.resp-vtabs .resp-tab-content{border:1px solid #C1C1C1}
.resp-vtabs .resp-tabs-container{border:none;float:none;width:100%;min-height:initial;clear:none}
.resp-accordion-closed{display:none!important}
.resp-vtabs .resp-tab-content:last-child{border-bottom:1px solid #c1c1c1!important}
}
@media (min-width:320px) and (max-width:768px){.tab-ak{margin:0 auto!important;width:60%;z-index:2;top:0;position:relative}}