@media (max-width:768px) and (min-width:320px){.carousel-item{height:19rem;}
.carousel-caption{bottom:0rem !important;padding-top:16px !important;}
.row.ptb-1.p0{margin-bottom:17px;}
.orange-area p{text-align:left!important;}
.jumbotron{padding:0px !important;margin-bottom:0px !important}
.jumbotron h1{font-size:24px;}
.card{min-height:474px !important;padding:5px;}
.slick-dotted.slick-slider{margin:0px !important;}
.slick-slide p{font-size:15px;}
.card-text{min-height:110px;}
.slick-list.draggable{height:520px;}
}