
body {
font-family : 'Open Sans', sans-serif;
line-height : 1.5em;
}
h1 {
font-size : 48px;
font-weight : normal;
font-family : 'Open Sans', sans-serif;
}
h2 {
font-size : 24px;
font-weight : normal;
font-family : 'Open Sans', sans-serif;
}
h3 {
font-size : 24px;
font-weight : normal;
}
h4 {
font-size : 18px;
font-weight : 400;
font-family : 'Open Sans', sans-serif;
}
h5 {
font-size : 16px;
font-weight : 400;
}
h6 {
font-size : 12px;
font-weight : 400;
text-transform : none;
letter-spacing : 1px;
}
p {
margin-bottom : 0.75em;
}
a {
color : #ff9000;
}
a:focus, a:hover {
color : #333;
text-decoration : none;
}
ol {
margin : 0;
padding : 0;
}
.mgr-50 {
margin-bottom : 50px;
}
.btn-warning {
background-color : #ff9000 !important ;
border-color : #eea236;
color : #fff !important ;
}
.alignleft {
float : left;
margin : 0 20px 10px 0;
}
.panel-title {
color : inherit;
font-size : 15px;
margin-bottom : 0;
margin-top : 0;
text-transform : capitalize;
}
.btn-small, .comment-reply-link, #cancel-comment-reply-link {
border-radius : 3px;
background-clip : padding-box;
background : #eee;
border : none;
color : #666;
display : inline-block;
font-size : 13px;
font-size : 1.3rem;
padding : 6px 14px;
padding : 0.6rem 1.4rem;
text-decoration : none;
}
.btn-small:hover, .comment-reply-link:hover, #cancel-comment-reply-link:hover {
background : #ddd;
color : #333;
}
.search-form input[type="submit"] {
border : 0;
clip : rect(0,0,0,0);
height : 1px;
margin : -1px;
overflow : hidden;
padding : 0;
position : absolute;
width : 1px;
}
button, input[type="button"], input[type="submit"], .btn, .btn-primary-big, .btn-primary-medium, .btn-primary-small, .btn-secondary-big, .btn-secondary-medium, .btn-secondary-small, .btn-green-big, .btn-green-medium, .btn-green-small {
border-radius : 3px;
background-clip : padding-box;
box-shadow : 0 -3px 0 rgba(0, 0, 0, 0.2) inset;
border : none !important ;
color : #fff;
cursor : pointer;
display : inline-block;
font-weight : 400;
text-decoration : none;
}
button, input[type="button"], input[type="submit"], .btn {
border : none;
margin : 6px;
width : auto;
}
.btn-primary-small, .btn-secondary-small, .btn-green-small {
box-shadow : 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
}
.btn-green-big, .btn-green-medium, .btn-green-small {
background-color : #ff9000;
}
.btn-primary-big, .btn-secondary-big, .btn-green-big {
font-size : 24px;
font-size : 2.4rem;
padding : 16px 32px;
padding : 1.6rem 3.2rem;
}
button, input[type="button"], input[type="submit"], .btn, .btn-primary-medium, .btn-secondary-medium, .btn-green-medium {
font-size : 18px;
font-size : 1.8rem;
padding : 12px 24px;
padding : 1.2rem 2.4rem;
}
.btn-primary-small, .btn-secondary-small, .btn-green-small {
font-size : 14px;
font-size : 1.4rem;
padding : 8px 16px;
padding : 0.8rem 1.6rem;
}
button:hover, input:hover[type="button"], input:hover[type="submit"], .btn:hover, .btn-primary-big:hover, .btn-primary-medium:hover, .btn-primary-small:hover {
box-shadow : 0 3px 0 rgba(0, 0, 0, 0.2) inset;
color : #fff;
}
.btn-secondary-big:hover, .btn-secondary-medium:hover, .btn-secondary-small:hover {
box-shadow : 0 3px 0 rgba(0, 0, 0, 0.2) inset;
background : #222;
color : #fff;
}
.btn-green-big:hover, .btn-green-medium:hover, .btn-green-small:hover {
box-shadow : 0 3px 0 rgba(0, 0, 0, 0.1) inset;
background : #ff9000;
color : #fff;
}
.submit_btn_form.signup {
background : #ff9000;
}
.clr {
clear : both;
float : left;
}
.margin-bottom-10 {
margin-bottom : 10px !important ;
}
.margin-bottom-20 {
margin-bottom : 20px !important ;
}
.margin-top-10 {
margin-top : 10px !important ;
}
.margin-top-20 {
margin-top : 20px !important ;
}
.margin-top-30 {
margin-top : 30px !important ;
}
.margin-top-80 {
margin-top : 80px !important ;
}
.margin-bottom-60 {
margin-bottom : 60px !important ;
}
.rgt-side {
float : right !important ;
}
.lft-side {
float : left !important ;
}
.padding-top {
padding-top : 10px;
}
.btn.focus, .btn:focus, .btn:hover {
color : #333;
text-decoration : none;
}
.no-padding {
padding : 0;
}

.no-margn-top {
    font-size: 22px;
    margin-top: 0;
    text-transform: capitalize;
}
.top-padding {
padding-top : 20px;
}
.bottom-padding {
padding-bottom : 0;
}
.sticky-call-button {
display : none;
}
header {
transition : all 0.4s ease;
}
header.sticky {
position : fixed;
width : 100%;
text-align : left;
z-index : 99999999;
top : 0;
}
header.sticky .pre-header {
display : none;
}
.navbar-bg {
background-color : #fff;
border-top : 0 solid #ccc;
border-right : 0 solid #ccc;
border-left : 0 solid #ccc;
opacity : 0.949999988079071044921875;
border-radius : 0;
border-bottom : 0 solid #ccc;
}
.navbar {
border-bottom : 1px solid #a6a6a6;
margin-bottom : 0;
min-height : 35px;
position : relative;
border-radius : 0 !important ;
}
.navbar .nav {
float : right;
margin-right : 0;
}
.navbar-brand {
margin-top : -10px;
}
.nav > li {
font-size : 14px;
text-transform : uppercase;
color : #231f20;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
background-color : transparent;
color : #333;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
background : #ff9000;
border-radius : 0;
}
.navbar-inverse .navbar-nav > li > a {
color : #333;
text-transform : capitalize;
padding : 18px 15px;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
background-color : transparent;
color : #000 !important ;
}
.navbar-toggle {
background-color : #ff9000;
border : #ff0999 none medium;
margin-top : 15px;
}
.navbar-collapse.collapse.in {
background : none 0 0 repeat scroll #fff;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color : transparent !important ;
}
nav ul li:hover .sub-menu {
display : block;
}
.nav > li.dropdown:hover .dropdown-menu {
display : block;
}
.dropdown-submenu {
position : relative;
}
.dropdown-submenu .dropdown-menu {
top : 0;
left : 100%;
margin-top : -6px;
margin-left : -1px;
}
.caret {
color : #ff9000;
}
.dropdown-submenu:hover .dropdown-menu {
display : block;
}
.dropdown-submenu a:after {
display : block;
content : " ";
float : right;
width : 0;
height : 0;
border-color : transparent;
border-style : solid;
border-width : 5px 0 5px 5px;
border-left-color : #ccc;
margin-top : 5px;
margin-right : -10px;
}
.dropdown-submenu:hover a:after {
border-left-color : #fff;
}
.dropdown-submenu.pull-left {
float : none;
}
.dropdown-submenu.pull-left .dropdown-menu {
left : -100%;
margin-left : 10px;
border-radius : 6px 0 6px 6px;
}
.dropdown-menu {
border-radius : 0;
padding : 0;
}
.dropdown-menu > li > a {
clear : both;
color : #333;
display : block;
font-weight : 400;
line-height : 1.42857;
padding : 10px 15px;
text-transform : capitalize;
white-space : nowrap;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
background-color : #ff9000;
}
.dropdown-submenu .dropdown-menu {
display : none !important ;
}
.dropdown-submenu:hover > .dropdown-menu {
display : block !important ;
}
.header-search {
margin-top : 80px;
}
.header-search .search-form input.search-input[type="text"] {
border-radius : 6px;
font-size : 18px;
height : 46px;
line-height : 1.33333;
padding : 10px 16px;
background-color : #fff;
border : #ccc solid 1px;
border-radius : 4px;
box-shadow : 0 1px 1px rgba(0, 0, 0, 0.075) inset;
color : #555;
display : block;
transition : border-color 0.15s 0s ease-in-out, box-shadow 0.15s 0s ease-in-out;
width : 100%;
}
.cse .gsc-tabHeader.gsc-tabhActive, .gsc-tabHeader.gsc-tabhActive {
border-style : solid solid none;
border-width : 1px 1px medium;
color : #ffffff;
font-family : open sans;
font-size : 14px;
font-weight : bold;
padding : 5px 10px;
}
.cse .gsc-tabHeader.gsc-tabhInactive, .gsc-tabHeader.gsc-tabhInactive {
border-width : 1px 1px medium;
color : #ffffff;
font-family : open sans;
font-size : 14px;
font-weight : bold;
padding : 5px 10px;
}
.gsc-tabHeader.gsc-tabhActive {
background-color : #ff9000;
border-color : #fff;
}
.gsc-tabHeader.gsc-tabhInactive {
background-color : #333;
border-color : #fff;
}
.gsc-control-cse {
font-family : open sans;
}
.gsc-orderby-label {
color : #676767;
padding : 5px 5px 6px 0;
}
.gsc-control-cse .gsc-option-menu-container {
color : #000;
font-size : 75%;
position : relative;
width : 25%;
}
.gsc-selected-option-container {
background-color : transparent;
border : rgba(0, 0, 0, 0.1) solid 1px;
border-radius : 2px;
box-shadow : 0 1px 1px rgba(0, 0, 0, 0.1);
color : #444;
cursor : default;
font-size : 11px;
font-weight : bold;
height : 27px;
line-height : 27px;
max-width : 90%;
min-width : 54px;
outline : 0 none;
padding : 0 28px 0 6px;
position : relative;
text-align : center;
width : auto !important ;
}
.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b {
color : #ff9000 !important ;
font-family : open sans;
}
.cse .gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link, .cse .gs-webResult.gs-result a.gs-title:link b, .gs-webResult.gs-result a.gs-title:link b, .cse .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited, .cse .gs-webResult.gs-result a.gs-title:visited b, .gs-webResult.gs-result a.gs-title:visited b, .cse .gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover, .cse .gs-webResult.gs-result a.gs-title:hover b, .gs-webResult.gs-result a.gs-title:hover b, .cse .gs-webResult.gs-result a.gs-title:active, .gs-webResult.gs-result a.gs-title:active, .cse .gs-webResult.gs-result a.gs-title:active b, .gs-webResult.gs-result a.gs-title:active b, .cse .gs-webResult.gs-result .gsc-cursor-page, .gs-webResult.gs-result .gsc-cursor-page, .cse .gs-webResult.gs-result a.gsc-trailing-more-results:link, .gs-webResult.gs-result a.gsc-trailing-more-results:link, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b, .gs-imageResult a.gs-title:active, .gs-imageResult a.gs-title:active b, .gs-imageResult .gsc-cursor-page, .gs-imageResult a.gsc-trailing-more-results:link, .cse .gs-spelling a, .gs-spelling a {
color : #ff9000 !important ;
font-family : open sans;
}
.gsc-tabsArea {
border-color : #ff9000 !important ;
}
.gsc-refinementsArea {
display : none;
}
.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
background-color : #ffffff;
border-bottom : 1px solid #e9e9e9;
border-color : #ffffff #ffffff #e9e9e9;
}
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
color : #ff9000;
font-family : open sans;
}
.gsc-cursor-page {
border-radius : 2px;
color : #333;
float : left;
padding : 10px 17px;
text-shadow : none;
}
.gsc-cursor-page {
border-color : #a25b08 !important ;
color : #333 !important ;
padding : 15px 20px;
text-decoration : none !important ;
}
.gsc-cursor-current-page {
background-color : #ff9000 !important ;
border-color : #461200 !important ;
color : #fff !important ;
padding : 15px 20px !important ;
text-decoration : none !important ;
text-shadow : none;
}
section {
padding : 20px 0;
}
textarea.form-control {
border-radius : 0 !important ;
}
.pre-header {
background : none 0 0 repeat scroll #fff;
border-bottom : 1px solid #eee;
color : #616b76;
font-weight : 300;
line-height : 1.2;
padding-top : 10px;
}
.pre-header .fa {
margin-right : 4px;
}
li i.fa::before {
height : 20px;
left : 0;
top : 0;
width : 20px;
}
.list-unstyled.margin-bottom-20 li {
display : block;
margin : 0 0 5px 22px;
}
li.icon:before {
font-family : 'FontAwesome';
content : '\f0e7';
margin : 0 12px 28px 6px;
line-height : 35px;
}
li.icon-chk:before {
font-family : 'FontAwesome';
content : '\f00c';
left : 16px;
line-height : 24px;
margin-right : 58px;
position : absolute;
}
li.icon-front-page:before, li.icon-front-page::before {
font-family : 'FontAwesome';
content : '\f00c';
left : 0;
line-height : 24px;
margin-right : 58px;
position : absolute;
}
li.icon-front-page {
font-size : 1.6rem;
}
ol li.icon-front-page1:before, ol li.icon-chk-1:before {
font-family : 'FontAwesome';
content : '\f105';
left : 34px;
line-height : 24px;
margin-right : 58px;
position : absolute;
}
.additional-shop-info li:first-child {
padding-left : 0;
}
.list-unstyled.list-inline span, .list-unstyled.list-inline.pull-right a {
font-size : 13px;
}
.carousel-control.left, .carousel-control.right {
background-image : none;
}




.carousel-control {
height : 8%;
top : 230px;
}
.call-form h2 span {
color : #ff9000;
font-weight : 700;
}
.callus {
border-bottom : 2px dotted #333;
margin-bottom : 17px !important ;
padding : 0;
margin : 0;
}
.callus > span {
color : #ff9d00;
font-size : 16px;
font-style : italic;
}
.col-md-12.callus > h3 {
margin : 0;
padding : 0;
}
.clr_org {
color : #ff9d00;
float : right;
margin-top : -7px;
}
.col-md-12.callus > h3 a {
margin : 0;
padding : 0;
color : #333;
font-size : 18px;
}
.col-md-12.callus > h3 a:focus, .col-md-12.callus > h3 a:hover {
margin : 0;
padding : 0;
color : #ff9000;
}
.home h1 {
font-size : 5.4rem;
font-weight : 500;
line-height : 1.5;
text-align : center;
}
.space-img {
margin : 0 10px 10px 0 !important ;
}
.ipt-style {
border-radius : 0;
font-size : 14px;
height : 31px;
line-height : 31px;
}
form h2 {
margin-top : 1px;
}
.services .col-lg-4 {
margin-bottom : 20px;
text-align : center;
}
h2.center-txt {
font-size : 44px;
text-align : center;
}
.services p {
color : #FFF;
}
.services a:hover {
color : #FFF;
}
.main-title {
padding : 0 0 40px 0;
}
.pic1-services, .pic2-services, .pic3-services {
background : url("../images/sprite.png") -11px -3px no-repeat scroll rgba(0, 0, 0, 0);
width : 186px;
height : 186px;
display : inline-block;
overflow : hidden;
}
.pic1-services:hover {
background-position : -11px -208px;
}
.pic2-services {
background-position : -225px -3px;
}
.pic2-services:hover {
background-position : -225px -208px;
}
.pic3-services {
background-position : -448px -3px;
}
.pic3-services:hover {
background-position : -448px -208px;
}
.content-center {
text-align : center;
}
.lft-text{width:60%; float:left;}
.rgt-text{  width:40%; float:right; text-align:left;}
.header-block {
background : url("../images/quote.jpg") 0 0 repeat fixed #fff;
height : auto;
min-height : 430px;
position : relative;
z-index : 0;
}
.header-section {
background : url("../images/bg.png") 0 0 repeat fixed #fff;
border-bottom : 1px solid #cdcdcd;
height : auto;
min-height : 430px;
padding : 50px 0;
position : relative;
z-index : 0;
}
.header-section h2 {
color : #000;
font-family : open sans;
font-size : 30px;
font-style : italic;
font-weight : 600;
padding : 0;
text-align : right;
}

.header-section p {
color : #333;
text-align : right;
float : left;
}
.header-section h4 {
background : none 0 0 repeat scroll #ff9000;
clear : both;
color : #fff;
float : right;
font-family : open sans;
font-size : 25px;
font-weight : 400;
line-height : 44px;
padding : 0 10px 0 0;
text-align : right;
text-transform : capitalize;
width : 325px;
}

.header-section h4::before {
background : url("../images/icon-orange-lefte.png") left center no-repeat scroll rgba(0, 0, 0, 0);
content : "";
display : block;
float : right;
height : 44px;
margin-left : -35px;
position : absolute;
width : 35px;
}


.hairgain h2{

float : right;
 font-family: open sans;
    font-size: 36px; font-weight:700; color:#ff9000;
}
.hairgain .heading-hairgain {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #333;
    display: block;
    float: right;
    font-family: open sans;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    padding: 0;
    text-align: right;
    width: 100%;
}.hairgain h4.heading-hairgain::before { background:none;}

.hairgain p{ float:right;    font-style: italic;}
.hair-icon{ clear:both;}
.hair-icon ul{ list-style:none; margin:0;}

.hair-icon ul li {
    background: #ff9000 none repeat scroll 0 0;
    border-radius: 50%;
    float: left;
    margin: 30px 19px;
}

.container h5 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0 0;
}
.drl h2, .drl h4, .drl h5, .drl h6 {
    color: #fff !important;
}
.drl h2{ margin-top:0;}
.drl h5{ padding-top:0;}
.header-section h5 {
    background:none;
    clear: both;
    color: #fff;
    float: right;
    font-family: open sans;
    font-size: 25px !important;
    font-style: italic;
    font-weight: 400 !important;
    line-height: 30px;
    padding: 0 10px 0 0;
    text-align: right;
    text-transform: capitalize;
    width: 100%;
}

.header-block .header-section p {
clear : both;
margin : 25px 0;
text-align : right;
}
.header-section .right-btn {
float : right;
position : relative;
}
.drl{ background:#95bdca !important;}

.drl h2, .drl h4, .drl h5, .drl h6{ color:#FFF !important;}
.hairgain{
    background: #fff !important;
     padding: 50px 0 0 !important;
}


.heading h1 {
color : #333;
font-size : 3.7rem;
font-weight : 100;
line-height : 1.4 !important ;
margin : 0;
position : relative;
text-align : center;
text-transform : uppercase;
}
.heading p {
font-size : 16px;
line-height : 25px;
margin-top : 0;
padding : 0 15px;
text-align : center;
}
.heading small {
font-size : 1.8rem;
margin-left : 15rem;
}
.container > h3 {
margin-bottom : 30px;
color : #ff9000;
font-size : 30px;
}
.message-block {
background : url("../images/quote.jpg") 0 0 repeat fixed #292f34;
height : auto;
min-height : 457px;
padding : 0 0 20px;
position : relative;
z-index : 0;
}
.message-block::after {
background : none 0 0 repeat scroll rgba(0, 0, 0, 0.7);
}
.message-block h2 {
color : #fff;
font-weight : 700;
letter-spacing : 1px;
margin : 50px 0;
padding : 0;
position : relative;
z-index : 2;
}
.result-block {
background : url("../images/result.jpg") 0 0 repeat fixed #292f34;
height : auto;
min-height : 520px;
padding : 0 0 20px;
position : relative;
z-index : 0;
color : #fff;
}
.result-block h2.center-txt.main-title {
margin : 70px 0;
padding : 0;
}
.result-block .fa {
color : #ccc;
}
.result-block h6 {
font-size : 18px;
margin : 17px 0;
}
.result-block p {
color : #ccc;
}
div::before, div::after {
content : " ";
display : table;
}
div::after {
clear : both;
}
div::before, div::after {
content : " ";
display : table;
}
.features-tabs ul, .features-tabs ul li {
display : block;
line-height : 0;
list-style : none outside none;
margin : 0;
padding : 0;
}
.features-tabs ul li {
border-left : 2px solid #fff;
display : block;
float : left;
width : 20%;
}
.cosmetic .features-tabs ul li {
width : 14%;
}
.hairgain .features-tabs ul li {
width : 16%;
}
.features-tabs ul li a {
background-color : #f5f5f5;
display : inline-block;
height : 140px;
position : relative;
text-align : center;
width : 100%;
}
.features-tabs ul li a span {
bottom : 28px;
color : #333;
display : block;
font-size : 18px;
font-weight : 300;
font-weight : 400;
letter-spacing : 0;
position : absolute;
line-height : normal;
width : 100%;
}
.cosmetic .features-tabs ul li a span {
font-size : 15px;
}
.features-tabs ul li.active a, .features-tabs ul li a:hover {
background-color : #858585;
}
.features-tabs ul li.active a span, .features-tabs ul li a:hover span {
color : #fff;
}
.features-tabs ul li.active a::after, .features-tabs ul li a:hover::after {
border-color : #858585 transparent transparent;
border-style : solid;
border-width : 10px 10px 0;
bottom : -9px;
content : "";
display : block;
left : 50%;
margin-left : -10px;
position : absolute;
}
.features-tabs ul li a::before {
background-position : center top;
background-repeat : no-repeat;
background-size : 78px 136px;
content : "";
display : block;
height : 60px;
left : 50%;
margin-left : -35px;
position : absolute;
top : 29px;
width : 70px;
}
.features-tabs ul li.active a::before, .features-tabs ul li a:hover::before {
background-position : center -71px;
}
.features-tabs ul li.content-1 a::before {
background-image : url("../images/icon-1.png");
}
.features-tabs ul li.content-2 a::before {
background-image : url("../images/icon-2.png");
}
.features-tabs ul li.content-3 a::before {
background-image : url("../images/icon-3.png");
}
.features-tabs ul li.content-4 a::before {
background-image : url("../images/icon-4.png");
}
.features-tabs ul li.content-5 a::before {
background-image : url("../images/icon-5.png");
}
.features-tabs ul li.content-6 a::before {
background-image : url("../images/icon-6.png");
}
.features-tabs ul li.content-7 a::before {
background-image : url("../images/icon-8.png");
}
.features-tabs ul li.content-7:hover a::before {
background-position : -5px -72px;
}
.features-tabs ul li.content-8 a::before {
background-image : url("../images/icon-6.png");
height : 64px;
top : 18px;
}
.features-tabs ul li.content-8:hover a::before {
height : 64px;
top : 18px;
background-position : 0 -72px;
left : 111px;
}
.features-tabs ul li.content-9 a::before {
background-image : url("../images/icon-9.png");
}
.features-tabs ul li.content-10 a::before {
background-image : url("../images/icon-10.png");
}
.features-tabs ul li.content-11 a::before {
background-image : url("../images/icon-11.png");
}
.features-tabs ul li.content-12 a::before {
background-image : url("../images/icon-12.png");
}
.features-tabs ul li.content-13 a::before {
background-image : url("../images/icon-13.png");
}
.features-tabs ul li.content-14 a::before {
background-image : url("../images/icon-14.png");
}
.features-tabs ul li.content-15 a::before {
background-image : url("../images/icon-15.png");
}
.features-tabs ul li.content-16 a::before {
background-image : url("../images/icon-2.png");
}
.features-tabs ul li.content-17 a::before {
background-image : url("../images/icon-17.png");
}
.features-tabs ul li.content-18 a::before {
background-image : url("../images/icon-18.png");
}
.features-tabs ul li.content-19 a::before {
background-image : url("../images/icon-19.png");
}
.features-tabs ul li.content-19:hover a::before {
background-position : -6px -81px;
}
.features-tabs ul li.content-20 a::before {
background-image : url("../images/icon-20.png");
}
.features-tabs ul li.content-20:hover a::before {
background-position : -6px -81px;
}
.features-tabs ul li.content-21 a::before {
background-image : url("../images/icon-21.png");
}
.features-tabs ul li.content-21:hover a::before {
background-position : -4px -85px;
}

.features-tabs ul li.content-22 a::before {
background-image : url("../images/icon-22.png");
}
.features-tabs ul li.content-22:hover a::before {
background-position : -4px -85px;
}
.features-tabs ul li.content-23 a::before {
background-image : url("../images/icon-23.png");
}
.features-tabs ul li.content-23:hover a::before {
background-position : -4px -85px;
}
.features-tabs ul li.content-24 a::before {
background-image : url("../images/icon-24.png");
}
.features-tabs ul li.content-24:hover a::before {
background-position : -4px -85px;
}

.features-tabs ul li.content-25 a::before {
background-image : url("../images/icon-25.png");
}
.features-tabs ul li.content-25:hover a::before {
background-position : -4px -85px;
}
.features-tabs ul li.content-26 a::before {
background-image : url("../images/icon-26.png");
}
.features-tabs ul li.content-26:hover a::before {
background-position : -4px -85px;
}
.features-tabs ul li.content-27 a::before {
background-image : url("../images/icon-27.png");
}
.features-tabs ul li.content-27:hover a::before {
background-position : -4px -85px;
}




.features-content {
border : #ddd solid 1px;
margin-top : 2px;
padding : 4rem;
}
.features-content .img-responsive {
margin-bottom : 20px;
}
.features-content ul, .features-content ul li {
list-style : none outside none;
margin : 0;
padding : 0;
}
.features-content ul li {
display : none;
}
.features-content ul li.active {
display : block;
}
.features-content ul li .left {
float : left;
width : 48%;
}
.features-content ul li .right {
color : #333;
float : right;
font-size : 1.8rem;
width : 48%;
}
.features-content ul li h3 {
font-size : 4.5rem;
line-height : 1;
margin-bottom : 4rem;
margin-top : 0;
}
.features-content ul li p:last-child {
margin-bottom : 0;
}
.portfolio-box {
display : block;
margin : 0 auto;
max-width : 650px;
position : relative;
text-align : center;
}
.portfolio-box > h4 {
color : #5f5f5f;
}
.portfolio-box > p {
color : #333;
}
.portfolio-box .portfolio-box-caption {
background : none 0 0 repeat scroll rgba(255, 144, 0, 0.9);
bottom : 0;
color : #fff;
display : block;
height : 100%;
opacity : 0;
position : absolute;
text-align : center;
transition : all 0.35s 0s ease;
width : 100%;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
position : absolute;
text-align : center;
top : 50%;
transform : translateY(-50%);
width : 100%;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
padding : 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
font-size : 14px;
font-weight : 600;
text-transform : uppercase;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
font-size : 18px;
}
.portfolio-box:hover .portfolio-box-caption {
opacity : 1;
}
.no-gutter > [class*="col-"] {
padding-left : 0;
padding-right : 0;
}
.padding-top-bottom {
padding : 0 15px 20px 15px;
}
.no-padding {
max-height : 500px;
overflow : hidden;
padding : 0;
}
#portfolio .result {
background : none 0 0 repeat scroll #ff9000;
border-radius : 10px;
color : #fff;
height : 164px;
margin : 8% 0 0 28%;
position : absolute;
text-align : center;
width : 370px;
z-index : 2;
}
#portfolio .result > h2 {
font-size : 60px !important ;
}
.doctor-logos {
clear : both;
margin : 35px 0;
}
.doctor-logos ul {
list-style : none;
margin : 0;
}
.doctor-logos ul li {
float : left;
}
.doctor-logos ul li img {
height : 86px;
}
.quote-v1 {
background : none 0 0 repeat scroll #7c858e;
margin-left : 0;
margin-right : 0;
padding : 10px 0;
color : #fff;
}
.quote-v1 span {
color : #fff;
display : inline-block;
font-size : 22px;
font-weight : 300;
line-height : 26px;
margin : 13px 5px 8px;
}
.quote-v1 a {
display : inline-block;
margin : 5px;
}
.quote-v1 a.btn-transparent {
background : none 0 0 repeat scroll rgba(0, 0, 0, 0);
border : #fff solid 1px;
color : #fff;
font-size : 16px;
padding : 8px 18px;
text-decoration : none;
white-space : nowrap;
}
#owl-demo .item img {
display : block;
width : 100%;
height : auto;
}
.owl-next {
float : right !important ;
margin-right : -38px !important ;
margin-top : -94px !important ;
}
.owl-prev {
float : left !important ;
margin-left : -38px !important ;
margin-top : -94px !important ;
}
.item, .item figure {
text-align : center;
}
.item figure img {
margin : 0;
text-align : center;
max-width : 100px;
}
.bdr {
border-radius : 50%;
display : inline !important ;
}
.blog-clr {
background : none 0 0 repeat scroll #f1f1f2;
}
.blog-clr .col-lg-4 {
margin-bottom : 20px;
text-align : center;
}
.blog-clr h2.center-txt {
font-size : 44px;
text-align : center;
}
.overflow-hidden {
overflow : hidden;
}
.thumbnail-kenburn img {
left : 10px;
margin-left : -10px;
position : relative;
height : 210px;
transition : all 0.8s 0s ease-in-out;
}
.thumbnail-kenburn:hover img {
transform : scale(1.2), rotate(2deg);
}
.thumbnail-style .thumbnail-img {
margin-bottom : 11px;
position : relative;
}
.thumbnail-style {
margin-bottom : 20px;
padding : 7px;
background : none 0 0 repeat scroll #f1f1f2;
}
.thumbnail-style:hover {
box-shadow : 0 0 8px #ddd;
transition : box-shadow 0.2s 0s ease-in-out;
}
.thumbnail-style a.btn-more {
background : none 0 0 repeat scroll #333;
color : #fff;
display : inline-block;
padding : 1px 6px;
position : absolute;
right : 0;
top : 0;
}
.thumbnail-style a.btn-more:hover {
box-shadow : 0 0 0 2px #ff9000;
text-decoration : none;
}
.thumbnail-style:hover a.btn-more {
right : 10px;
}
.caption > h3 {
font-size : 1.4em;
}
.hover-effect {
transition : all 0.4s 0s ease-in-out;
}
a.btn-more-location {
background : none 0 0 repeat scroll #333;
bottom : 1px;
color : #fff;
display : inline-block;
padding : 5px 10px;
position : absolute;
right : 8px;
}
.mgr-rht {
margin-right : 10px;
}
.awards {
margin : 3px;
}
.awards ul{ list-style:none; margin:0;}
.awards ul li{ padding:0; margin:5px 16px; float:left;}
.awards img {
display : block;
width : 100%;
height : auto;
}


#advantage-hair-transplant{ background:#eaeaea; padding:40px 0;}
#advantage-hair-transplant h2{  text-transform: uppercase; }
#advantage-hair-transplant h3{ font-style:italic; color:#333; font-size:18px; }


 .panel-group {    padding-top: 50px;  margin-bottom: 20px;}
.panel-group .panel {    border-radius: 4px;    margin-bottom: 0;    overflow: visible;}

.panel-default {    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;    border: medium none;
    border-radius: 0 !important;    margin-bottom: 0 !important;    padding-bottom: 14px;}


.panel-default > .panel-heading {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #333333;
}
.panel-default h5 {
    font: 300 19px;
    margin: 0 0 5px;
    padding: 0;
}

 .panel-default .accordion-toggle::before {
    background: #e54a1a url("../images/toggle-icons.png") no-repeat scroll 6px 10px;
    border-radius: 50% !important;    content: "";    display: inline-block;    height: 21px;
    margin-right: 10px;    position: relative;    top: 4px;    width: 21px;}
.panel-default .collapsed::before {background: #495764 url("../images/toggle-icons.png") no-repeat scroll 6px -148px;}
.panel-default .accordion-toggle::before{background-color: #e54a1a;}
.panel-default .collapsed::before{background-color: #495764;}
.panel-default > .panel-heading + .panel-collapse .panel-body {    border: medium none;
    padding: 0 0 0 32px;}

















/*Team*/

.team-block {
    padding-top: 60px;
}
.content h4 {
    font-size: 18px;
}

.team-block h4 {
    margin-bottom: 45px;
}
.team-block h2{
    font: 400 37px;
    margin: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
}
 .team-block h2 strong, h2 strong {
    color: #ff9000;
}
/*.team-block h2::after {
    border-bottom: 2px solid #b7bbbf;
    content: " ";
    display: block;
    margin: 0 auto;
    padding-top: 7px;
    width: 193px;
    z-index: 2;
}
*/


.team-block h3 {
    font-size: 20px;
    margin-bottom: 2px;
    padding-top: 13px;
}

.team-block em {
      display: block;
    font: 400 14px;
    margin-bottom: 12px;
    text-transform: uppercase;
    color: #ff9000;
}


team-block .item { margin-bottom: 30px;}
	
.team-block .team-img {
    border: 4px solid #e8e8e8;
    border-radius: 100%;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
    height: auto;
    margin: 15px auto;
    overflow: hidden;
    position: relative;
    top: 49px;
    transition: all 0.3s ease 0s;
    width: 37%;
    z-index: 2;
}
.in-div-bdr {
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px 1px #ccc; min-height:375px;
}
.in-div-bdr .img-div, .in-div-bdr .img-div1, .in-div-bdr .img-div2 {
  
    height: 125px;
}

.in-div-bdr .img-div{ background:url(../images/bg-s3.jpg) no-repeat 0 -250px;}
.in-div-bdr .img-div1{ background:url(../images/bg-s2.jpg) no-repeat 0 -70px;}
.in-div-bdr .img-div2{ background:url(../images/bg-s1.jpg) no-repeat 0 -170px;}

.in-div-bdr .info-div {
    background: #fff none repeat scroll 0 0;
    border-top: 1px solid #ccc;
    box-shadow: 0 -2px 2px #d0d0d0;
    margin-top: 11px;padding-top: 40px;
}


.tb-socio {
    padding-top: 3px;
    text-align: center; margin-bottom:10px;
}
.tb-socio .fa {
    border: 1px solid #d5d5d5;
    border-radius: 50% !important;
    color: #b3bdc6;
    font-size: 19px;
    height: 33px;
    line-height: 19px;
    margin: 0 7px;
    padding-top: 7px;
    width: 33px;
}





.video-wrapper {
	width: 600px;
	max-width: 100%; clear:both;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h2.blog-h2 {
margin-top : 0;
}
h2.blog-h2 a {
color : #767f88;
}
h2.blog-h2 a:hover {
color : #ff9000;
}
.blog-info {
list-style : none outside none;
margin : 15px 0 12px;
padding-left : 0;
}
.blog-info li {
color : #555;
display : inline-block;
font-size : 13px;
margin-right : 10px;
padding : 0;
}
.blog-info li i {
color : #ff9000;
}
.more {
color : #ff9000;
}
.more:hover, .more:focus {
color : #767f88;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
background-color : #ff9000;
border-color : #ff9000;
}
.pagination > li > a, .pagination > li > span {
color : #ff9000;
}
.blog-item blockquote {
border-color : #ff9000;
margin : 20px 40px 18px;
}
.blog-item .blog-info {
border-bottom : 1px solid #ecebeb;
border-top : 1px solid #ecebeb;
margin : 20px 0;
padding : 8px 0;
}
.right {
float : right;
}
.award1, .award2, .award3, .award4, .award5, .award6/*, .award7, .award8*/ {
/*background : url(../images/award-sprite.png) 0 0 no-repeat;*/
background : url(../images/award-sprite.jpg) 0 4px no-repeat;
overflow : hidden;
display : block;
float : left;
height : 71px;
width : 150px;
}
.award2 {
background-position : 0 -66px;
}
.award3 {
background-position : 0 -144px;
}
.award4 {
background-position : 0 -217px;
}
.award5 {
background-position : 0 -304px;
}
.award6 {
background-position : 0 -386px;
}
/*.award7 {
background-position : 0 -510px;
}
.award8 {
background-position : 0 -587px;
}*/
.awards-box {
display : block;
margin : 0 auto;
max-width : 650px;
position : relative;
}
.awards-box {
display : block;
margin : 0 auto;
max-width : 650px;
position : relative;
}
.awards-box img {
margin-left : 55px;
}
.awards-box .awards-box-caption {
background : none 0 0 repeat scroll rgba(255, 162, 0, 0.9);
bottom : 0;
color : #fff;
display : block;
height : 100%;
opacity : 0;
position : absolute;
text-align : center;
transition : all 0.35s 0s ease;
width : 100%;
}
.awards-box .awards-box-caption .awards-box-caption-content {
position : absolute;
text-align : center;
top : 50%;
transform : translateY(-50%);
width : 100%;
}
.awards-box .awards-box-caption .awards-box-caption-content .project-category, .awards-box .awards-box-caption .awards-box-caption-content .project-name {
padding : 0 15px;
}
.awards-box .awards-box-caption .awards-box-caption-content .project-category {
font-size : 14px;
font-weight : 600;
text-transform : uppercase;
}
.awards-box .awards-box-caption .awards-box-caption-content .project-name {
font-size : 18px;
}
.awards-box:hover .awards-box-caption {
opacity : 1;
}



#footer {
background : #191919;
clear : both;
font-size : 0.9em;
min-height : 380px;
padding-top : 25px;
}
#footer p {
color : #fff;
font-size : 14px;
}
#footer ul.useful, #footer ul {
list-style : none outside none;
margin : 0;
padding : 0;
}
#footer ul.useful li {
font-size : 14px;
line-height : 30px;
}
#footer ul.useful li a {
color : #fff;
}
#footer ul.useful li a:hover {
color : #ff9000;
text-decoration : none;
}
.mgrrgt {
margin-right : 6px !important ;
}
.clr-white {
color : #fff !important ;
}
#footer .footer-copyright {
background : none 0 0 repeat scroll #333;
margin-top : 60px;
padding : 30px 0 10px;
}
.footer-copyright .col-md-4 > p {
text-align : center;
}
#footer .footer-copyright ul {
list-style : none;
margin : 0 15px;
}
#footer .footer-copyright ul li {
border-right : 1px solid #fff;
display : inline-block;
color : #fff;
padding : 0 5px;
line-height : 15px;
}
#footer .footer-copyright ul li:last-child {
border-right : none;
}
#footer .footer-copyright ul li a {
color : #fff;
}
#footer .footer-copyright ul li a:hover {
color : #ff9000;
}
#footer a {
color : #fff;
}
#footer a:hover {
color : #ff9000;
}
.innerpage-header {
margin-top : 0 !important ;
padding-top : 0 !important ;
}
#footer {
padding : 0;
}
.footer-widgets-1 .widget_text {
padding-bottom : 25px;
}
.widget_search {
padding-top : 0;
}
.search-form input[type="text"].search-input {
width : 50%;
}
ul.social-link {
float : right;
}
ul.social-link li {
border : none !important ;
}
.arrow-social {
background : url(../images/arrow-social.png) 0 -2px no-repeat;
height : 30px;
width : 60px;
display : block;
overflow : hidden;
display : inline-block;
text-indent : -9999px;
}
.innerpage-header {
margin-top : 25px;
padding-bottom : 0;
}
.header-inner {
background : url(../images/inner_page_header_1.jpg) 0 0 repeat-x;
height : 200px;
font-size : 41px;
overflow : hidden;
}
h1.mgr-top {
color : #fff;
margin : 73px 0 0 13px;
font-size : 41px;
}
.breadcrumb {
background-color : transparent;
color : #fff;
font-size : 15px;
}
.breadcrumb a span {
color : #fff;
}
.breadcrumb > .active {
color : #ff9000;
}
.breadcrumb span {
color : #ff9000;
}
.container h5 {
font-size : 20px;
font-weight : 500;
padding : 10px 0 0;
}
ul li i.fa {
margin-bottom : 6px;
margin-right : 5px;
}
section.head {
height : 500px !important ;
padding : 0 !important ;
}
#st-accordion > ul {
margin : 0;
padding : 0;
}
.st-accordion ul li {
overflow : hidden;
background-color : #f9f9f9;
border : #e0e0e0 solid 1px;
margin-bottom : 5px;
display : inline-table;
width : 100%;
}
.st-accordion ul li > a {
font-size : 17px;
display : block;
position : relative;
transition : color 0.2s ease-in-out;
background-color : #f9f9f9;
border-color : #e0e0e0;
padding : 5px;
color : #333;
font-weight : 400;
}
.st-accordion ul li > a:hover {
color : #1693eb;
text-decoration : none;
}
.st-accordion ul li.st-open > a {
background-color : #f2dede;
border-color : #ebccd1;
color : #a94442;
color : #767f88;
}
.st-accordion ul li.st-open > a span {
transform : rotate(180deg);
right : 10px;
opacity : 1;
}
.st-content {
padding : 5px 0 30px 0;
}
.st-content p {
line-height : 28px;
padding : 10px;
}
#jquery-script-menu {
position : fixed;
height : 90px;
width : 100%;
top : 0;
left : 0;
border-top : 5px solid #316594;
background : #fff;
box-shadow : 0 2px 3px 0 rgba(0, 0, 0, 0.16);
z-index : 999999;
padding : 10px 0;
box-sizing : content-box;
}
.jquery-script-center {
width : 960px;
margin : 0 auto;
}
.jquery-script-center ul {
width : 212px;
float : left;
line-height : 45px;
margin : 0;
padding : 0;
list-style : none;
}
.jquery-script-center a {
text-decoration : none;
}
.jquery-script-ads {
width : 728px;
height : 90px;
float : right;
}
.jquery-script-clear {
clear : both;
height : 0;
}
#blog-landing {
margin-top : 81px;
position : relative;
max-width : 100%;
width : 100%;
}
img {
max-width : 100%;
height : auto;
}
.white-panel {
position : absolute;
background : white;
box-shadow : 0 1px 2px rgba(0, 0, 0, 0.3);
padding : 10px;
}
.white-panel h1 {
font-size : 1em;
}
.white-panel h1 a {
color : #A92733;
}
.white-panel:hover {
box-shadow : 1px 1px 10px rgba(0, 0, 0, 0.5);
margin-top : -5px;
transition : all 0.3s ease-in-out;
cursor : pointer;
}
.bdr_top {
border-top : 1px solid #ccc;
margin-top : 15px;
padding : 0;
}
.orange_text {
font-size : 18px;
color : #ff9000;
}
.padding_top_bottom {
padding : 20px 0;
}
<!---Inner page design HR-- >
 .section {
border : none medium;
font-size : 5.4rem;
font-weight : 100;
padding : 10rem 16rem 8rem;
position : relative;
margin-top : 3.2rem;
margin-bottom : 1.6rem;
margin : 0 -8rem;
}
.cosmetic .section {
/*margin : 0 -2rem;*/
padding : 2rem 1rem;
}
.features-tabs {
height : 140px;
margin : 0 0;
}
.features-tabs ul, .features-tabs ul li {
display : block;
line-height : 0;
list-style : none outside none;
margin : 0;
padding : 0;
}
.features-tabs ul li {
border-left : 2px solid #fff;
display : block;
float : left;
}
.features-page .fixed {
background : none 0 0 repeat scroll #fff;
position : fixed;
top : 0;
width : 1138px;
z-index : 999;
}
.section div.subtitle h3 {
color : #ff9000;
font-size : 5.4rem;
font-weight : 100;
line-height : 1.3;
margin-bottom : 1.6rem;
margin-top : 3.8rem;
text-decoration : none;
}
.arrow-bottom {
border-bottom : 1px solid #ddd;
position : relative;
}
.arrow-bottom::after {
    background-color: #fff;
    background-image: url("../images/arrow-down-gray.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 11px 70px;
    bottom: -37px;
    content: "";
    height: 72px;
    left: 50%;
    margin-left: -65px;
    position: absolute;
    width: 130px;
}
.break {
clear : both;
height : 15px;
}
.left {
float : left;
position : relative;
width : 45%;
}
.right {
float : right;
position : relative;
width : 45%;
}
.left p, .right p {
margin-bottom : 2.4rem;
padding : 0;
line-height : 1.5;
font-size : 1.8rem;
}
.section ul li {
list-style : none outside none;
margin : 0;
padding : 0;
}
.section ul li::before {
list-style : none outside none;
margin : 0;
padding : 0;
color : #0274be;
content : "???";
font-family : 'FontAwesome';
font-style : normal;
left : -25px;
position : absolute;
top : 0;
}
.left img, .right img { margin-bottom:15px;
}
.btn-green{ background-color:#9bc23c;}
.btn-green:hover{ background-color:#9bc23c;}

#s2 {
margin-top : 60px;
}
.subtitle > h3 {
    color: #333 !important;
    font-weight: 600 !important;
    text-align: center;
}
#s2 .t1, #s2 .t2 {
color : #ccc;
font-size : 13rem;
font-weight : 100;
line-height : 1;
}
#s2 .t2 {
font-size : 8rem;
}
#s2 .img {
background-image : url("../images/features/uptime-arrow.png");
bottom : 10px;
height : 45px;
right : 35px;
width : 45px;
}
#s5 p {
color : #ccc;
font-size : 3.6rem;
font-weight : 100;
line-height : 1.2;
}
.number {
text-align : left;
}
.number p {
margin : 0 0 2.4rem;
padding : 0;
font-size : 1.8rem;
margin-bottom : 2.4rem;
line-height : 1.5;
}
.number span {
color : #0274be;
display : block;

float : left;
font-size : 7.2rem;
font-weight : 100;
margin-bottom : 10rem;
margin-top : -2rem;
width : 80px;
}
.copy-intro p {
font-size : 2.6rem;
line-height : 1.5;
font-weight : bold;
}
@media only screen and (max-width:1023px) {
.row-pad {
padding-left : 0 !important ;
padding-right : 0 !important ;
}
.heading h1 {
font-size : 3.8rem;
margin-top : 0;
padding : 0;
text-align : center;
}
.features-tabs ul li a span {
bottom : 25px;
font-size : 16px;
font-size : 1.6rem;
}
.features-tabs ul li a:before {
top : 0;
}
.features-content {
padding : 40px 20px;
padding : 4rem 2rem;
}
.features-content ul li h3 {
font-size : 48px;
font-size : 4.8rem;
}
}
@media (max-width:768px) {
.nav.navbar-nav.navbar-top-margin {
display : block;
}
.owl-buttons {
display : none;
}
}
@media screen and (max-width:800px) {
.nav.navbar-nav.navbar-top-margin {
display : block;
}
.owl-buttons {
display : none;
}
.features-tabs ul li a span {
bottom : 25px;
font-size : 1.6rem;
}
}
@media (min-width:320px) and (max-width:480px) {
.row-pad {
padding-left : 0 !important ;
padding-right : 0 !important ;
}
.navbar-brand > img {
height : 44px;
}
.pre-header .list-inline li {
border : none medium;
display : block;
margin-bottom : 10px;
padding : 0;
}
.pre-header .pull-right {
float : left !important ;
}
.pre-header.navbar {
display : none;
}

.heading h1 {
font-size : 3rem;
padding : 0;
position : relative;
text-align : center;
z-index : 999;
}
h1.mgr-top {
color : #fff;
font-size : 25px;
margin : 40px 0 0 0;
}
.header-search {
margin-top : 40px;
}
.features-tabs {
display : none;
}
.section div.subtitle h3 {
font-size : 4rem;
line-height : 1.1;
font-weight : 100;
margin-top : 2rem;
}
.features-content {
padding : 20px;
padding : 2rem;
}
.left, .right {
float : none;
width : 100%;
}
.left img, .right img {
display : none;
}
#s2 .t1, #s2 .t2 {
font-size : 11rem;
}
#s2 .t2 {
font-size : 6rem;
}
.features-content ul li {
background-position : -10px -15px;
background-repeat : no-repeat;
background-size : 78px 136px;
border-bottom : 1px solid #ddd;
display : block;
margin-bottom : 40px;
margin-bottom : 4rem;
padding-bottom : 40px;
padding-bottom : 4rem;
}
.features-content ul li:last-child {
border-bottom : 0;
margin-bottom : 0;
}
.features-content ul li.active {
margin-top : 20px;
margin-top : 2rem;
}
.features-content ul li .left {
float : none;
text-align : center;
width : 100%;
}
.features-content ul li .right {
display : none;
}
.features-content ul li h3 {
font-size : 26px;
font-size : 2rem;
margin-bottom : 20px;
margin-bottom : 3rem;
padding-left : 80px;
padding-left : 8rem;
text-align : left;
}
.btn-green{ display:none;}

.features-content ul li.content-1 {
background-image : url(../images/icon-1.png);
background-position : 0 2px;
}
.features-content ul li.content-2 {
background-image : url(../images/icon-2.png);
background-position : 0 2px;
}
.features-content ul li.content-3 {
background-image : url(../images/icon-3.png);
background-position : -6px 2px;
}
.features-content ul li.content-4 {
background-image : url(../images/icon-4.png);
background-position : -7px -6px;
}
.features-content ul li.content-5 {
background-image : url(../images/icon-5.png);
background-position : -11px -11px;
}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item, .owl-carousel .owl-award {
text-align : center;
}
.owl-buttons {
display : none;
}
.item figure {
text-align : center;
display : inline-block;
}
ul.social-link {
float : none;
margin-top : 25px !important ;
}
.pre-header .col-md-6 {
float : left;
}
.pre-header .additional-nav {
float : right;
text-align : right;
}
#footer .footer-copyright ul {
margin : 0;
}
.footer-copyright a {
font-size : 13px;
}
.sidebar2, #footer, .latest-news, .zopim, .header-search, .breadcrumb{
display : none;
}
.sticky-call-button {
    background: rgba(0, 0, 0, 0) url("../images/sticky.png") repeat scroll 0 0;
    bottom: 0;
    display: block;
    height: 56px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.sticky-call-button ul {
list-style : none outside none;
margin : 0;
padding : 0;
}
.sticky-call-button li {
float : left;    background: url(../images/sep_bg.gif) repeat-y scroll right top;
margin : 0;
padding : 0;
padding : 11px 24px;
}
.sticky-call-button li.last-child{background:none;}

.sticky-call-button li a i.fa {
color : #ff9000; 
}

.awards ul li{ margin:5px 76px;}

}
@media screen and (max-width:320px) {
.st-accordion ul li > a {
font-size : 17px;
}
}
@media (min-width:320px) {
.navbar-brand > img {
height : 44px !important ;
}
}
.footer-widgets h4 {
color : #fff;
}
.hide {
display : none;
}
