/* 
    Created on : 1 Jul, 2015, 5:43:24 PM
    Author     :Raj Jaswal
*/

.mgr{ margin:0 !important;}

.ptop{ padding-top:0px !important;}
 .ptop-1{ padding-top:0px  !important; padding-bottom:0px !important;}
 .about-me {
 /*background: rgba(0, 0, 0, 0) url("../images/bg-4.jpg") no-repeat scroll center center / cover ;*/
    padding: 0;    background: rgba(255, 255, 255, 0.65) none repeat scroll 0 0;
    position: relative;
}
.center{ margin:25px auto !important; text-align:center;}
.alg-left{ text-align:left !important;}
.rowbg-pad-2 {
    background: #eee none repeat scroll 0 0;
    padding-bottom: 0;
    padding-top: 0;
}
.rowbg-pad-3 {
    background: #eee none repeat scroll 0 0;
 
}
.link-white{ color:#fff !important; font-size:14px; text-align:right;}

.about-me .profile-image {
    min-height: 550px;
    padding: 40px 30px;
}
.about-me .profile-image1 {
    min-height: 450px;
    padding: 38px 00px;
}



.pp-container {
    display: block;
    margin-bottom: 5px;
    padding: 10px; width: 50%;
 }



 
.profile-image img {
    border: 5px solid #e8e8e8;
    border-radius: 100%;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    margin: 15px auto;
    position: relative;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 2;
}
.profile-image h2 {
    color: #50626c;
   
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 0.8em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
    text-transform: uppercase;
}

 .bio {
   
    display: block;
    margin: 0 auto;
    min-height: 550px;
    position: relative;
    z-index: 2;
}

.bio-inner {
    background: rgba(255, 255, 255, 0.65) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    padding: 50px 30px;
    position: absolute;
    top: 0;
    width: 100%;
}
 .bio-1 {
   
    display: block;
    margin: 0 auto;
    min-height: 450px;
    position: relative;
    z-index: 2;
}
.bio-inner-1 {
    background: rgba(255, 255, 255, 0.65) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
}


.about-me .bio h3 {
    color: #3f3f46;

    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
}
.bio p {
    color: #555;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 22px;
}
.consult-me.btn, .moreinfo.btn {
    background: #50626c none repeat scroll 0 0;
    border-color: #50626c;
    border-radius: 0;
    color: #ffffff;
    font-size: 13px;
    margin: 15px auto 5px;
    padding: 15px 50px;
    text-transform: uppercase;
}
.p-services {
    background: #ff9000 none repeat scroll 0 0;
    padding: 35px 0 50px;
    position: relative;
}

.over-div {
    background: rgba(0, 0, 0, 0.04) none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}
.p-services .sec-divider {
    display: block;
    height: 52px;
    margin: 30px auto 0;
    width: 52px;
}
.p-services .section-title{
    color: #fff;
    font-size: 24px;
    font-style: italic;
    margin: 5px auto;
    padding: 20px;
    position: relative;
    text-align: center;
}
 .more-about{padding: 35px 0 50px;
    position: relative;}

 .more-about .section-title{
    color: #333;
    font-size: 24px;
    font-style: italic;
    margin: 5px auto;
    padding: 20px;
    position: relative;
    text-align: center;
}
.service-list {
    display: block;
    margin: 0 auto;
    padding: 10px 50px;
    position: relative;
}
.service-list .pservice h3 {
    color: #fff;
  
    font-size: 16px;
    font-weight: 700;
    margin: 15px auto;
    text-align: center;
    text-transform: uppercase; min-height:35px;
}
.service-list .pservice p {
    color: #f9f9f9;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 19px;
    padding: 5px 10px;
    text-align: justify;
}
.service-list .pservice span i.ahla {
    background: rgba(255, 255, 255, 1) url("../images/ahla.png") no-repeat scroll -3px -4px;
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.15);
    color: #ff6f6f;
    cursor: pointer;
    display: block;
    height: 150px;
    line-height: 60px;
    margin: 25px auto;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 150px;
}
.service-list .pservice span i.IADVL {
    background: rgba(255, 255, 255, 1) url("../images/IADVL.jpg") no-repeat scroll -10px 0;
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.15);
    color: #ff6f6f;
    cursor: pointer;
    display: block;
    height: 150px;
    line-height: 60px;
    margin: 25px auto;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 150px;
}
.service-list .pservice span i.AHRSI {
    background: rgba(255, 255, 255, 1) url("../images/AHRSI.jpg") no-repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.15);
    color: #ff6f6f;
    cursor: pointer;
    display: block;
    height: 150px;
    line-height: 60px;
    margin: 25px auto;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 150px;
}

#download {
    padding: 50px 0 40px;
}

.service-list .pservice span i.AAHRS {
   background: rgba(255, 255, 255, 1) url("../images/AAHRS.jpg") no-repeat scroll -7px -8px;
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.15);
    color: #ff6f6f;
    cursor: pointer;
    display: block;
    height: 150px;
    line-height: 60px;
    margin: 25px auto;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 150px;
}


.service-list .pservice span i.htn {
   background: rgba(255, 255, 255, 1) url("../images/htn.png") no-repeat scroll -4px -8px;
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.15);
    color: #ff6f6f;
    cursor: pointer;
    display: block;
    height: 150px;
    line-height: 60px;
    margin: 25px auto;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 150px;
}
.service-list .pservice span i.realself {
       background: rgba(255, 255, 255, 1) url("../images/realself.png") no-repeat scroll -4px  -5px;
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.15);
    color: #ff6f6f;
    cursor: pointer;
    display: block;
    height: 150px;
    line-height: 60px;
    margin: 25px auto;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 150px;
}
.service-list .pservice span i.ishrs {
       background: rgba(255, 255, 255, 1) url("../images/ishrs.png") no-repeat scroll -4px -4px;
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.15);
    color: #ff6f6f;
    cursor: pointer;
    display: block;
    height: 150px;
    line-height: 60px;
    margin: 25px auto;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 150px;
}
.fun-facts {
    background: rgba(0, 0, 0, 0) url("../images/fun-bg.jpg") no-repeat scroll center center;
    overflow: hidden;
    padding: 20px;
}
.fun-facts ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 80%;
}
.fun-facts ul li {
    border-right: 2px solid #fff;
    color: #fff;
    display: inline-block;
    float: left;
    margin: 30px auto;
    padding: 5px 0;
    text-align: center;
    width: 25%;
}.fun-facts ul li:last-child {
    border-right: 2px none transparent;
}
.fun-facts h3 {
  
    font-size: 40px;
    letter-spacing: 1px;
    margin: 10px;
    padding: 5px;
}
.fun-facts h5 {
    font-family: pt sans;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 5px;
    padding: 10px;
    text-transform: uppercase;
}
.recognition {
    background: #f9f9f9 none repeat scroll 0 0;
    min-height: 500px;
}
.recognition .rec-desc {
    background: rgba(0, 0, 0, 0) url("../images/bg-2.jpg") no-repeat scroll center center / cover ;
    min-height: 500px;
    position: relative;
}

.recognition .rec-desc-1 {
    background: rgba(0, 0, 0, 0) url("../images/bg-22.jpg") no-repeat scroll center center / cover ;
    min-height: 500px;
    position: relative;
}

.recognition .rec-inner {
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
    color: #fff;
    height: 100%;
    left: 0;
    padding: 100px;
    position: absolute;
    top: 0;
    width: 100%;
}
.recognition .rec-desc h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
.recognition .rec-desc p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}
.recognition .rec-list {
    min-height: 500px;
    padding: 30px 30px 0;
}
.recognition .map {
   min-height: 500px;
    padding: 0; height:auto;

}







.recognition .rec-list ul {
    margin: 0;
    padding: 0;list-style: outside none none;
}
.recognition .rec-list ul li {
    height: 100px;
    margin: 5px 0;
}.recognition .rec-list ul li span {
    color: #ff9000;
    font-size: 4em; margin-bottom:0.4em;
}
.recognition .rec-list ul li h3 {
    color: #636368;
  
    font-size: 16px;
    font-weight: 700;
    margin: 8px 0;
    padding: 5px;
    text-transform: uppercase;
}
.recognition .rec-list ul li h5 {
    color: #0ed4c8;
 
    font-size: 13px;
    margin: 5px 0;
}
.recognition .rec-list ul li h4 {
    color: #838c95;
    font-size: 12px;
    margin: 10px 0;
}



.resume {
   overflow: hidden;
  padding: 35px 0 50px;
  position: relative;
}

.resume .sec-divider {
  display:block;
  height:52px;
  margin:40px auto 20px;
  width:52px
}

.resume .education ul, .resume .employment ul {
  margin: 0;
  padding: 0;
}

.resume .education {
  text-align:right;
  padding-right:50px
}

.resume .employment {
  text-align:left;
  position:relative;
  padding-left:50px
}

.resume .education h2, .resume .employment h2 {
  color:#3f3f46;
  font-size:18px;
  letter-spacing:1px;
  padding:36px 0;
  text-transform: uppercase
}

.education ul li {
  display:block;
  margin:20px 0
}

.employment ul li {
  display:block;
  margin:20px 0
}

.education ul li h3, .employment ul li h3 {
  color:#636368;
  font-size:18px;
  font-weight:700;
  margin:5px 0;
  padding:5px 0;
  text-transform: uppercase
}

.education ul li h4, .employment ul li h4 {
  color:#3f3f46;
  font-size:14px;
  padding:5px 0
}

.education ul li span, .employment ul li span {
  color:#0ed4c8;
  display:inline-block;
  margin:5px 0 10px;
  font-size:13px
}

.education ul li p, .employment ul li p {
  color:#838c95;
  font-size:14px;
  line-height:24px;
  padding:5px 0
}

.education ul li p {
  padding-left:150px
}

.employment ul li p {
  padding-right:150px
}







.social-profiles {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}
.social-profiles ul {
    display: block;
    margin: 0 auto;
    width: 100%; padding:0; margin:0;
}
.social-profiles ul li {
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    margin-right: 15px;
}
.social-profiles ul li a i {
    background: #ff9000 none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 0 20px transparent;
    color: #fff;
    font-size: 24px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 35px;
}

h2.section-title {
    color: #ff9000;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.form-container input, .form-container select  {
    background: transparent none repeat scroll 0 0;
    border-radius: unset;
    color: #3f3f46;
    float: left;
    font-size: 14px;
    height: auto;
    margin: 15px auto;
    padding: 20px;
  }

 .form-container select {border-radius:0px;} 
.form-container button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #d9d9da;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: 15px auto;
    padding: 20px;
    text-transform: uppercase;
    width: 100%;
}

.address {
    background: #ff9000 none repeat scroll 0 0;
    min-height: 400px;
    padding-top: 88px;
    position: relative;
}
.address a{ color:#fff;}
/*.address::after {
    border-right: 403px solid transparent;
    border-top: 400px solid #ff9000;
    content: "";
    height: 100%;
    position: absolute;
    right: -403px;
    top: 0;
    width: 1px;
    z-index: 2; opacity:0.7;
}*/.location img {
    display: block;
    margin: 0 auto;
    opacity: 0.9;
    padding: 5px;
    width: 48px;
}
.location ul {
    display: block;
    padding: 0;
    width: 100%;
}


.location ul li {
    border-right: 1px solid #f3f3f3;
    display: inline-block;
    float: left;
    width: 33.333%;
}.location h4 {
    color: #f3f3f3;
    font-family: "PT Sans",sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 5px auto;
    text-align: center;
    text-transform:capitalize;
}.social-profiles ul {
    display: block;
    margin: 0 auto;
    width: 100%;
}.social-profiles ul li {
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    margin-right: 15px;
}


.location ul li:last-child {
    border: medium none;
}


.social-profiles ul li a i {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 0 20px transparent;
    color: #7c7c7c;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 50px;
}
.social-profiles ul li a{ color:#fff !important;}
.map-container {
    min-height: 400px;
    min-width: 48vw; padding:0;
    position: relative;
}

.map-container iframe{ width:100% !important;}

.panel{box-shadow: none !important; border:none;}
.modal-dialog {
    margin: 70px auto;
    width: 600px;
}
.modal-content {
    background:rgba(0, 0, 0, 0) url("https://akclinics.org/lp/cosmetic-fb/image/42400107.jpg") no-repeat scroll 74% 22%;}
.modal-header, .modal-body, .modal-footer{ background:rgba(255, 255, 255, 0.8);} 

.front-steps-wrapper .front-step {
    height: auto;
    min-height: 180px;
    padding: 10px;
    position: relative;
}

.front-steps-wrapper .front-step1 {
    background: #e84d1c none repeat scroll 0 0;
}
.front-steps-wrapper .front-step2 {
    background: #ff9000 none repeat scroll 0 0;
}
.front-steps-wrapper .front-step3 {
    background: #3b5998  none repeat scroll 0 0;
}
.front-steps-wrapper h2 {
    color: #f0f0f0;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 5px;
    margin-top: 0;
    padding-top: 10px;
}

.front-steps-wrapper p {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
}
#hotel-carousel .item {
    margin: 0 7px;
}.hotel .caption {
    line-height: 19px;
    padding: 10px 0 0;
    position: relative;
}
.hotel .caption h5 {
    font-size: 14px;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-align: left;
}
.hotel .small {
    margin: 0;
    padding: 10px;
    text-align: left;
}

.hotel .caption .rating {
    padding: 19px 0 0;
    position: absolute;
    right: 0;
    top: 0;
}

.rating i {
    color: #fac42b;
}



@media only screen and (min-width: 1401px) {

  .about-me .bio-inner {
    padding: 70px 30px;
  }

  .about-me .profile-image h2 {
    font-size: 96px;
  }

  .about-me .profile-image h3 {
    font-size: 21px;
    line-height: 1.8em;
  }

 }

/* Screens Resolution : 1024px+
-------------------------------------------------------------------------- */

@media only screen and (min-width: 1024px) {

.page-container .page-close {

}

.page-container .page-scroll {

}

.page-container .single-page::after {
  background-attachment:fixed;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.8s,opacity .5s;
  -moz-transition: -moz-transform 0.8s,opacity .5s;
  transition: transform 0.8s,opacity .5s
}


.page-container .single-page.is-loaded::after {
  opacity:0.15;
}

.no-touch .page-container .single-page:hover::after,.page-container .single-page.is-full-width.is-loaded::after {
  opacity:1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
}

/* min-width: 1024px end*/


/* screenwidth less than 1024px
--------------------------------------------------------------------- */

@media only screen and (max-width: 1024px) {

.page-title h2 {
  font-size: 1.25em;
}

.page-title p {
  font-size: 14px;
}

.about-me .profile-image {
  padding: 40px 20px;
}

.about-me .bio p {
  font-size: 14px;
}

.about-me .bio .buttons {
  margin: 10px auto;
}

.consult-me.btn, .moreinfo.btn{
  padding: 15px;
  width: 175px;
  font-size: 12px;
}

.about-me .bio-inner {
  padding: 40px 20px;
  position: absolute;
}

.consult-me.btn:after, .moreinfo.btn:after{
	content: "";
}

.education ul li p {
  padding-left: 50px;
}

.employment ul li p {
  padding-right: 50px;
}


}


/* screenwidth less than 960px (Mobile wide/Smaller Tablets)
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {

.about-me .profile-image h2 {
  font-size: 54px;
}

.about-me .profile-image h3 {
  font-size: 14px;
}

.about-me .bio {
  padding: 0;
}

.about-me .bio p {
  font-size: 13px;
}

.about-me .bio-inner {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.65);
  height: 100%;
  min-height: 560px;
  left: 0;
  padding: 40px 20px;
  position: relative;
  top: 0;
  width: 100%;
}

.consult-me.btn, .moreinfo.btn{ 
  padding: 15px;
  width: 150px;
  font-size: 11px;
}

.service-list {
  width: 95%;
}

.fun-facts {
  padding: 10px;
}

.fun-facts ul {
  width: 100%;
}

.service-list ul li p {
  padding: 5px 15px;
}


.recognition .rec-inner {
  padding: 100px 50px;
}

.skill-container {
  padding: 20px;
}

.recognition .rec-list {
  padding: 30px 10px;
}

.recognition .rec-list ul li span {
  margin-right: 10px;
}

.recognition .rec-list ul li h3 {
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0 0;
  padding: 5px;
}

.recognition .rec-list ul li h5 {
  margin: 0;
}



.testimonials blockquote p {
  max-width: 600px;
}



.fun-facts h3 {
  font-size: 28px;
  margin: 5px;
  padding: 5px;
}

.fun-facts h3 i {
  font-size: 28px;
}

.fun-facts ul li {
  border-right: 1px solid #fff;
}

.fun-facts h5 {
  font-size: 12px;
}
}


/* Mobile wide/Smaller Tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {

.is-full-width .page-title {
  box-shadow: none;
}

.page-title span {
  display: none;
}

.page-title span i {
  font-size: 1.5em;
  box-shadow: 0 0 0 20px transparent;
}

.menu-desc {
	opacity: 1!important;
}

.page-title h2 {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  line-height: 100;
  margin: auto;
}

.page-title p {
  display: none;
}

.is-full-width .page-title span {
  display: block;
}

.is-full-width .page-title h2 {
  background: none;
  line-height: 1.5em;
  margin: auto;
}

.is-full-width .page-title p {
  display: block;
}

.about-me {
  padding: 0;
}

.about-me .profile-image {
  width: 100%;
  padding: 20px;
  min-height: 200px;
}

.about-me .bio {
  width: 100%;
  min-height: 0;
  padding: 0;
}

.about-me .bio-inner {
  min-height: 0;
  padding: 40px 0;
}

.about-me .bio h3 {
  font-size: 16px;
  line-height: 20px;
  padding: 0 10px;
  text-align: left;
}

.about-me .bio p {
  font-size: 14px;
  padding: 0 10px;
}

.services {
  padding: 20px 0 30px;
}

.services .sec-divider {
  margin: 10px auto 0;
}

.services .section-title {
  font-size: 24px;
  padding: 20px;
}

.service-list {
  width: 90%;
}

.service-list ul li {
  display: block;
  float: left;
  margin: 8px auto;
  padding: 0 20px;
  text-align: center;
  width: 100%;
}

.fun-facts {
  padding: 5px;
}

.fun-facts ul li {
  border-right: 1px solid #fff;
}

.fun-facts h3 {
  font-size: 20px;
}
.fun-facts h3 i{
  font-size: 20px;
}

.fun-facts h5 {
  font-size: 10px;
  letter-spacing: 0;
  margin: 5px auto;
  padding: 2px 0;
}


.resume {
  padding: 20px 0;
}

.resume .sec-divider {
  margin: 10px auto 0;
}

.resume .education h2, .resume .employment h2 {
  font-size: 16px;
  padding: 15px 0;
}

.education ul li h3, .employment ul li h3 {
  font-size: 14px;
}

.education ul li h4, .employment ul li h4 {
  font-size: 13px;
  padding: 0;
}

.resume .education {
  padding-left: 5px;
  padding-right: 20px;
}

.resume .employment {
  padding-left: 20px;
  padding-right: 5px;
}

.education ul li p {
  padding-left: 20px;
}

.employment ul li p {
  padding-right: 20px;
}

.skills {
  padding: 20px 0;
}

.skills .sec-divider {
  margin: 10px auto 0;
}

.skills .section-title {
  font-size: 24px;  
  padding: 20px;
}

.skill-container {
  margin: 10px auto;
}


.skills figure canvas {
  height: 100px !important;
  width: 100px !important;
}

.skill-container .skill figcaption {
  font-size: 13px;
  padding: 10px;
}


.recognition .rec-desc {
  display: block;
  float: none;
  min-height: 0;
  width: 100%;
  padding: 0;
}

.recognition .rec-desc h2 {
  font-size: 24px;
}

.recognition .rec-list {
  display: block;
  float: none;
  margin-left: 50px;
  padding: 30px 5px;
  width: 100%;
}

.recognition .rec-inner {
  padding: 30px;
  position: relative;
}


.testimonials {
  padding: 20px 0;
}

.testimonials .sec-divider {
  margin: 20px auto;
}

.testimonials .text-container {
  padding-bottom: 20px;
}

.testimonials .section-title {
  font-size: 24px;
  margin: 10px auto 20px;
  padding: 10px;
}

.testimonials blockquote p {
  font-size: 14px;
  max-width: 350px;
}


}


/* Medium Screen Mobile
  -------------------------------------------------------------------------- */

@media only screen and (max-width: 479px) {
 .about-me .profile-image h2{ font-size:36px;}
 .fun-facts{ display:none;}
.about-me .profile-image {
  padding: 20px;
  width: 100%;
}

.about-me .bio h3 {
  margin-top: 5px;
}

.consult-me.btn, .moreinfo.btn{
  font-size: 12px;
  padding: 15px;
  width: 100%;
}

.service-list .service {  
  margin: 10px auto;
}


.service-list .service p {
  padding: 5px;
}



.fun-facts ul li {
  border-right: 1px solid #fff;
  float: left;
  margin: 20px auto;
}

.fun-facts h3 i, .fun-facts h3 i {
  font-size: 18px;
  line-height: 18px;
}

.fun-facts h5 {
  font-size: 8px;
  letter-spacing: 0;
}

.resume .education h2, .resume .employment h2 {
  font-size: 13px;
}

.education ul li h3, .employment ul li h3 {
  font-size: 12px;
}

.education ul li h4, .employment ul li h4 {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
}

.education ul li p {
  padding-left: 5px;
}

.employment ul li p {
  padding-right: 5px;
}

.education ul li span, .employment ul li span {
  font-size: 12px;
}

.education ul li p, .employment ul li p {
  font-size: 13px;
  line-height: 22px;
}

.skill-container .skill figcaption {
  font-size: 10px;
  text-align: center;
}

.recognition .rec-list {
  margin-left: 15px;
}
.recognition .rec-list ul li h3 {
  font-size: 12px;
  line-height: 18px;
}
.testimonials blockquote p {
  font-size: 13px;
  max-width: 300px;
}

.testimonials blockquote p:before {
  font-size: 16px;
}

.testimonials blockquote p:after {
  font-size: 16px;
  margin-left: 3px;
}

.testimonials blockquote cite {
  font-weight: bold;
}
.recognition .rec-list {
  margin-left: 0px;
}

.recognition .rec-list ul li span{ margin-bottom:0.5em;}


}


/* Small Screen Mobile
  -------------------------------------------------------------------------- */

@media only screen and (max-width: 320px) {

.pp-container {
  width: 160px;
}

.about-me .bio h3 {
  font-size: 16px;
  line-height: 24px;
}

.about-me .bio p {
  font-size: 13px;
  padding: 0 5px;
}

.service-list ul li {
  margin: 3px auto;
}

.service-list ul li p {
  font-size: 13px;
  line-height: 20px;
}

.fun-facts h3 {
  font-size: 18px;
  line-height: 18px;
}

.fun-facts h5 {
  font-size: 7px;
  line-height: 7px;
}



.resume .education h2, .resume .employment h2 {
  font-size: 11px;
}

.education ul li h3, .employment ul li h3 {
  font-size: 15px;
  line-height: 18px;
}

.education ul li h4, .employment ul li h4 {
  font-size: 11px;
}

.education ul li p {
  padding-left: 10px;
}

.employment ul li p {
  padding-right: 10px;
}

.recognition .rec-list {
  margin-left: 0px;
}

.recognition .rec-list ul li h3 {
  font-size: 12px;
  line-height: 18px;
}

.recognition .rec-list ul li h5 {
  font-size: 12px;
}

.recognition .rec-list ul li h4 {
  font-size: 11px;
}

.recognition .rec-list ul li span {
  font-size: 70px;
}

.skill-container .skill {
  padding: 0;
}



.testimonials blockquote {
  margin: 0 0 20px;
}

.testimonials blockquote p {
  font-size: 12px;
  line-height: 24px;
  max-width: 270px;
}

.testimonials blockquote p:before {
  font-size: 14px;
  margin-left: -16px;
}

.testimonials blockquote p:after {
  font-size: 14px;
  margin-left: 3px;
}


}



/* only for webkit  browsers */
/* to resolve flickering issue on chrome/safari for fixed background attachment */

@media screen and (-webkit-min-device-pixel-ratio:0)
 {
 
  .page-container .single-page::after {
    background-attachment: inherit;
  }
  
  
}


